{% set active_page = 'credits' -%}
{% extends 'base.html' %}
{% block title %}IRC Puzzles | Credits{% endblock %}
{% block content %}<h1>Credits</h1>
<p>The IRC Puzzles staff is responsible for coordinating competitions, reviewing user-submitted challenges, creating challenges, moderating the competition, and maintaining competition resources. As of May 17th, 2014, the staff team consists of:</p>
<ul>
    <li>apoc</li>
    <li>Daniel Sactage (furry)</li>
    <li>Fox Wilson (fwilson)</li>
    <li>José Rey (jose)</li>
    <li>Samuel Damashek (sdamashek)</li>
    <li>Michael Yanovich (yano)</li>
</ul><br>
<p>Several users have submitted challenges to be used for the competition. These challenges were reviewed by staff members. Not all challenges were used, but the ones that are being used are modified slightly to keep the competition fair. The users who submitted challenges are below.</p>
<ul>
    <li>Chiyo</li>
    <li>cypi</li>
    <li>ToBeFree</li>
</ul><br>
<p>Our website and bot are hosted on a <a href="http://www.digitalocean.com">Digital Ocean</a> VPS. Our favicon was created by Vlad Marin. The ircpuzzlesbot competition bot is a fork of the Limnoria bot, with a custom plugin created by various staff.</p>
{% endblock %}
