{% set active_page = 'faq' -%}
{% extends 'base.html' %}
{% block title %}IRC Puzzles | FAQ{% endblock %}
{% block content %}
<style>
.question {
  font-weight: bold;
  font-size: 20px;
}
.question::before {
    content: "Q: ";
    font-size: 25px;
}
.answer {
  margin-bottom: 20px;
}
.answer::before {
    content: "A: ";
    font-size: 25px;
    font-weight:bold;
}
</style>
<h1>FAQ</h1>
<div class="question">How do I play the game?</div>
<div class="answer">The game starts in the game's lobby. Note that this is <b>not</b> #ircpuzzles. When a game starts, the lobby will be announced in #ircpuzzles. The namespace for the competition stays the same throughout the competition. If the namespace is "#######", all competition channels including the lobby will begin with "#######". To get to the next level, you must solve the level you are on. The next level's name is the solution to the current level. Of course, the solutions will follow IRC channel format (non case sensitive, no spaces), and begin with the competition prefix.</div>
<div class="question">When does the competition start? When does it end?</div>
<div class="answer">The competition starts on June 28th and runs for most likely at least 48 hours. It depends on how long it takes people to finish.</div>
<div class="question">What are the prizes?</div>
<div class="answer">The prizes can be found at <a href="/prizes/">http://ircpuzzles.org/prizes/</a>. You also get a lot of practice with your cryptography and critical thinking skills!</div>
<div class="question">What if I want to compete in a group?</div>
<div class="answer">Groups are allowed, but you will have to declare yourself as a group <i>before</i> the start of the competition. A form will be posted to do so. Groups may have two to three members, and may share answers among themselves. Contestants in a group are not eligible for individual awards. A group's level is the furthest any member has gotten, so if anybody in a group wins, the whole group wins.</div>
<div class="question">What type of answer sharing is allowed?</div>
<div class="answer">Unless you are in a group and sharing with other group members, collaboration between contestants should be minimal. All competition-related channels will be moderated (+mz). The sharing of hints that have already been given before by IRC Puzzles staff <b>is</b> allowed, but you may not create your own hints and share those. Please don't spoil the experience for the contestants. If you do so, you will be disqualified.</div>{% endblock %}
