{% extends 'base.html' %}
{% block title %}IRC Puzzles | Home 2.0{% endblock %}
{% block head %}<script language="Javascript" type="text/javascript" src="/static/jquery.lwtCountdown-1.0.js"></script>
<style>
    #countdown_dashboard {
        height: 110px;
    }
    .dash {
        width: 110px;
        height: 114px;
        background: transparent url('/static/dash.png') 0 0 no-repeat;
        float: left;
        margin-left: 20px;
        position: relative;
    }
    .dash .digit {
        line-height: normal !important;
        font-size: 55pt;
        font-weight: bold;
        float: left;
        width: 55px;
        text-align: center;
        font-family: Times;
        color: #555;
        position: relative;
    }
    
    .dash_title {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 6px;
        font-size: 9pt;
        color: #555;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
</style>{% endblock %}
{% block content %}
<div class="intro">
    <h1>Welcome to IRC Puzzles</h1>
    <p>IRC Puzzles is an organization which organizes fun and engaging puzzle hunts conducted on the freenode IRC network. Competitions are free of charge and easy to compete in. Join #ircpuzzles on chat.freenode.net for more. The first competition will be held starting <b>June 28th, 2014</b>.</p> 
    <div id="countdown_dashboard">
        <div class="dash weeks_dash">
            <span class="dash_title">weeks</span>
            <div class="digit">0</div>
            <div class="digit">0</div>
        </div>

        <div class="dash days_dash">
            <span class="dash_title">days</span>
            <div class="digit">0</div>
            <div class="digit">0</div>
        </div>

        <div class="dash hours_dash">
            <span class="dash_title">hours</span>
            <div class="digit">0</div>
            <div class="digit">0</div>
        </div>

        <div class="dash minutes_dash">
            <span class="dash_title">minutes</span>
            <div class="digit">0</div>
            <div class="digit">0</div>
        </div>

        <div class="dash seconds_dash">
            <span class="dash_title">seconds</span>
            <div class="digit">0</div>
            <div class="digit">0</div>
        </div>

    </div>
    <script language="javascript" type="text/javascript">
            jQuery(document).ready(function() {
                $('#countdown_dashboard').countDown({
                    targetDate: {
                        'day':      28,
                        'month':    6,
                        'year':     2014,
                        'hour':     0,
                        'min':      0,
                        'sec':      0
                    }
                });
            });
        </script>
</div>{% endblock %}
