{% extends 'base.html' %}
{% block title %}IRC Puzzles | Register{% endblock %}
{% block content %}
<h1>Register</h1>
{% if submitted %}
<p>Thank you for registering with ircpuzzles. To confirm you own this NickServ account, please join the lobby (#ircpuzzles) and then <code>/msg ircpuzzlesbot confirm {{ confirmation_code }}</code>. Your registration is not complete (and you will not be able to compete) until you do this.</p>
{% else %}
<form action="" method="POST" name="register">
    <label for="account">NickServ account: </label><input type="text" name="account"><br>
    <label for="password">Password:         </label><input type="password" name="password"> Note: this is NOT your NickServ password. Please use a different password to log into ircpuzzles.<br>
    <label for="confirm_password">Confirm:      </label><input type="password" name="confirm_password"><br>
    <input type="submit" value="Register">
</form>
{% endif %}
{% endblock %}
