{% set active_page = 'stats' -%}
{% extends 'base.html' %}
{% block title %}IRC Puzzles | Stats{% endblock %}
{% block content %}
{% if game %}
<div class="row">
{% set trackinterval = 12/len(tracks) -%} 
{% for track in tracks %}
<div class="col-md-{{ trackinterval }}">
    {% for channel in range(len(track.maxchan))[::-1] %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Channel {{ channel }}</h3>
        </div>
        <ul class="list-group" style="border-width:0px 0px 0px 0px">
            {% for user in track.users %}
            {% if user[0] == channel %}
            <li class="list-group-item" style="border-width:0px"><b>{{ user }}</b> at {{ user[1] }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% else %}
<h3>There is no running game.</h3>
{% endif %}
{% endblock %}
